[Desktop Entry]
Name=Simple1
Exec=/usr/bin/qmlscene $@ /usr/share/Simple1/Simple1.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
