extends ../layout.pug

block title
    title Sign In

block header
    h2 Sign In

block content
    form#login-form(action='/auth/login' method='POST')
        .form-horizontal
            h4 Sign in with username and password
            hr
            .form-group
                label.control-label.col-md-2(for='username') User name
                .col-md-10
                    input.form-control#username(name='username' type='text' required)

            .form-group
                label.control-label.col-md-2(for='password1') Password
                .col-md-10
                    input.form-control#password1(name='password' type='password' required)

            .form-group
                .col-md-offset-2.col-md-10
                    input.btn.btn-primary(type='submit' value='Submit')
                    input.btn.btn-danger(type='reset' value='Reset')

block stylesheet
    link(rel='stylesheet' href='/css/validation.css')


block scripts
    script(src='/lib/jquery-validation/dist/jquery.validate.min.js')
    script(src='/js/validation/login-validation.js')