#!packages/build/
#!packages/repositories.config
$tf/
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.build.csdef
*.Cache
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dev
*.dll
*.dotCover
*.DotSettings.user
*.env
*.exe
*.gpState
*.ide/
*.ilk
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.psess
*.publishsettings
*.pubxml
*.rdl.data
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xcworkspace/
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.browse.VC.db.*
.builds
.DS_Store
.idea/
.JustCode
.metadata/
.nb-gradle/
.sass-cache/
.vagrant/
.vs/
.vscode/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_Pvt_Extensions/
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
AppPackages/
AutoTest.Net/
Backup*/
bld/
bower_components/
build/
ClientBin/
csx/
dist/
dlldata.c
docker-compose.yml
Dockerfile
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
FakesAssemblies/
gen/
Generated_Code/
GeneratedArtifacts/
GoogleService-Info.plist
ipch/
ModelManifest.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
node_modules/
npm-debug.log
packages/*
platforms/
plugins/
Podfile.lock
Pods/
publish/
sql/
TestResult.xml
UpgradeLog*.htm
UpgradeLog*.XML
x64/
xcuserdata/
~$*