<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title><%GalleryCaption%></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #DEDACF;
}
-->
</style></head>

<frameset rows="92,*" framespacing="0" frameborder="no" border="0" bordercolor="#DEDACF" >
    <frame src="<%CDTopPage%>" name="TopFrame" scrolling="NO" noresize>
       <frameset cols="190,*" border="0" framespacing="0" bordercolor="#DEDACF" frameborder="no">
            <frame src="<%CDLeftPage%>" name="treeframe">
            <frame src="<%CDRightPage%>" name="basefrm" noresize>
       </frameset>
</frameset>
<noframes><body>
</body></noframes>
</html>
