<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td nowrap width="4" height="4" align="left" valign="top" bgcolor="BBB7AC"></td>
    <td nowrap height="4" align="left" valign="top" bgcolor="BBB7AC"></td>
    <td nowrap width="4" height="4" align="right" valign="top" bgcolor="BBB7AC"></td>
    <td nowrap width="20" align="right" valign="top"></td>
  </tr>
  <tr>
    <td nowrap width = "4" align="left" valign="top" bgcolor="BBB7AC"></td>
    <td nowrap bgcolor="BBB7AC"><a href="<%LinkToImage%>"><img src="<%ThumbImage%>" border="0"></a></td>
    <td nowrap width = "4" bgcolor="BBB7AC"></td>
    <td nowrap width = "20"></td>
  </tr>
  <tr>
    <td  nowrap bgcolor="BBB7AC" width= "4" height="4" align="left" valign="bottom"></td>
    <td  nowrap bgcolor="BBB7AC" width= "4" height="4"></td>
    <td  nowrap bgcolor="BBB7AC" width= "4" height="4" align="right" valign="bottom"></td>
    <td  nowrap width= "20" align="right" valign="bottom"></td>
  </tr>
<tr>
<td height="4" colspan="3" align="center" valign="bottom"><span class="smallimagecaption"><%ImageDescription%></span></td>
<td width="20" height="4" align="center" valign="bottom" nowrap></td>
</tr>
</table>
