<fieldset>
    <legend>Share new Cookie</legend>
    <div class="form-group" id="div-cookie-title">
        <label for="tb-cookie-title" class="control-label">Text:</label>
        <input type="text" class="form-control" id="tb-cookie-title" />
    </div>
    <div class="form-group" id="div-cookie-category">
        <label for="tb-cookie-category" class="control-label">Category:</label>
        <input type="text" id="tb-cookie-category" class="form-control" />
    </div>
    <div class="form-group" id="div-cookie-img">
        <label for="tb-cookie-img" class="control-label">Image link:</label>
        <input type="text" id="tb-cookie-img" class="form-control" />
    </div>
    <button class="form-control btn btn-primary" id="btn-cookie-add">Share</button>
</fieldset>